<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} </title>
</head>
<body>
{{> header}}

<h1>Blah Blah Blah</h1>
<p> this site is currently updated.</p>

<p style="size: 30px">{{pagePara}}</p>


{{> footer}}
</body>
</html>